.sidebar{
    display: grid;
    margin: 0;

}

.author{
    padding: 0.5em;

}

#avatar{
    border-radius: 50%;
    float: left;
    margin: 1em 1.5em 0 1em;
}

#bio{
    margin-top: 4em;
}

.social{
    margin: 0 7em;
}

#contact{
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
    color: #fff;
  }
    
.fa-facebook:hover{
    background: #3B5998;
}

.fa-github:hover{
    background: RGBA(250, 250, 250,0.7);
}

.fa-linkedin:hover{
    background: #007bb5;
}


@media(min-width: 600px){
    .author{
        display: flex;
        flex-direction: column;
    }
    #avatar{
        width: 200px;
    }

    #bio{
        margin: 0;
    }

    .social{
        margin: 0;
    }
    
    .fa {
        padding: 15px;
        font-size: 30px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 0;
        color: #fff;
        border-radius: 50%;
      }

    }