@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Rock+Salt&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.navigationbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #444;
    

}

.navbox{
    list-style-type: none;
   
}

#logo{
    margin: 0 1em;
    font-family: 'Amatic SC', cursive; cursor: pointer;
    font-size: 36px; 
    color: #f08080; 
}

li,
.navbox{
    display: inline-block;
    padding: 0.3em;
    font-family: 'Titillium Web', sans-serif; 
}

a{
    text-decoration: none;
    color: #f08080;
}

a:hover{
    color: #f08080;
}

button{
    padding: 0.5em;
    font-family: 'Titillium Web', sans-serif;
    color: #eee;
    background: #FA8072;
    border: none;
    border-radius: 20px ;
    cursor: pointer;
}

button:hover{
    background: rgba(250, 128, 114, 0.6);
}

@media screen and (min-width: 600px) {
.navigationbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

#logo{
    margin-right: auto ;
    padding: 0 ;
}

li,
.navbox{
    padding: 0 1em;
    font-size: 20px;
}

}