@import url("navbar2.css");
@import url("content.css");

body{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.2fr 0.7fr 2fr 0.2fr;
    grid-template-areas: 
    "nb  "
    "sb  "
    "main"
    "ft  ";
}

.navigationbar{
    grid-area: nb;
    background: yellow;
}

.content{
    grid-area: main;
    background: violet;
}

.sidebar{
    grid-area: sb;
    background: thistle;
}

.footer{
    grid-area: ft;
    background: teal;
}


@media screen and (min-width: 600px) {
    body{
    margin: 0;
    height: auto;
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 0.3fr 4fr 0.2fr;
    grid-template-areas: 
    "nb   nb"
    "main sb"
    "ft   ft";
}

.navigationbar{
    grid-area: nb;
    background: yellow;
}

.content{
    grid-area: main;
    background: violet;
}

.sidebar{
    grid-area: sb;
    background: thistle;
}

.footer{
    grid-area: ft;
    background: teal;
}
}