main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 10px;
    background: #111;
    padding: 0 1em;
}

.blogs{
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    padding: 1em;
    margin: 0;
    background: rgba(200, 200, 200,0.2);
    color: #fff8dc;
}

.imgalbum{
    width: 95%;
}

.link{
    color: #fff8dc;
    text-decoration: none;
}

.link:hover{
    color: #f08080;
}

