@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlinks{
    display: inline-block;    
}

@media screen and (min-width: 900px) {

    .navbar{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    
    #navlinks{
        display: flex;
        flex-direction: column;        
}
