body{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 85% 0.7fr;
    grid-template-areas:
    "nav "
    "main"
    "ft  ";
    height: 100vh;
}

.navbar{
    grid-area: nav;
    background: #4f5;
}

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#blogs{
    background: skyblue;
}

.footer{
    grid-area: ft;
}


@media screen and (min-width:900px) { 
body{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr 1fr) 1fr;
    grid-template-areas:
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "ft  ft   ft   ft ";
    height: 100vh;
}

.navbar{
    grid-area: nav;
    background: #4f5;
}

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#blogs{
    background: skyblue;
}

.footer{
    grid-area: ft;
}

}
