@import url("navbar.css");
@import url("mainblog.css");
@import url("footer.css");

body{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.7fr 85% 0.7fr;
    grid-template-areas:
    "nav "
    "main"
    "ft  ";
}

.navbar{
    grid-area: nav;
}

.main{
    grid-area: main;

}

#footer{
    grid-area: ft;
}


@media screen and (min-width:900px) { 
body{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr 1fr) 0.4fr;
    grid-template-areas:
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav  ft   ft   ft ";
    height: 150;
}

.navbar{
    grid-area: nav;
}

.main{
    grid-area: main;
}

#blogs{
    background: skyblue;
}

.footer{
    grid-area: ft;
}

}
